[flake8]
exclude = .git,
        .env,
        .venv,
        __pycache__,
        .mypy_cache,
        build,
        dist,
        flake-report,
        dev.py

ignore = D100, # Missing docstring in public module
        PLC0114, #Missing module docstring (missing-module-docstring)
        D104, # Missing docstring in public package
        SC200, # Probably mispelled word
        SC100, # Possibly mispelled word
        E203, # whitespace before ':'
        PLW1514, # Using open without explicitly specifying an encoding (unspecified-encoding)

per-file-ignores = tests/*.py:D103,S101,PL
                tests/test_conf.py:D103,S101,S108,PL

max-line-length = 88
show-source = true