[flake8]
exclude = .git,
        .env,
        .venv,
        __pycache__,
        .mypy_cache,
        build,
        dist,
        flake-report,
        dev.py

ignore = D100,
        D104,
        SC200,
        SC100,
        E203,
        D107,
        D102,
        D103,
        D101

per-file-ignores = tests/*.py:D103,S101,PL
                tests/test_conf.py:D103,S101,S108,PL

max-line-length = 88
show-source = true