SearchParamsScreen > Label {
    margin: 1 0 0 1;
    align-horizontal: center;
}

SearchParamsScreen > Input {
    margin: 1;
    background: $primary-background;
}

SearchParamsScreen > Input:focus {
    border: $accent tall;
}

PartitionList {
    margin: 1 1 0 1;
    max-height: 80%;
    background: slategrey;
    height: auto;
}

PartitionList > ListItem {
    padding: 0 0 0 1;
}

PartitionList > ListItem.--highlight {
    background: $accent;
}

#start-search-button {
    dock: bottom;
    margin: 1 1 1 1;
    align-horizontal: center;
    background: $secondary-darken-2;
}

#start-search-button:hover {
    background: $secondary-lighten-2;
}