name: Test release on PyPI

on:
  workflow_dispatch:

jobs:
  test_pypi_release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Setup Python
        uses: actions/setup-python@v6

      - name: Publish to Test PyPi
        env:
          UV_PUBLISH_TOKEN: ${{ secrets.TEST_PYPI_TOKEN }}
        run: |
          uv build
          uv publish --index testpypi